# Created by .ignore support plugin (hsz.mobi)
/surveyResult/
/javascript_motion_detection_soundstep/
/motion/
/test/
/sh/
/testExamples/
/node_modules/
/functions/node_modules/
/backend/
/.sass-cache/
/.tmp/
/bower_components/
