<style>
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Chrome/Safari/Opera */
        -khtml-user-select: none; /* Konqueror */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
    }
    .news-row:hover{
        background: rgba(105, 105, 105, 0.34);
        color:white;
    }
</style>
<section layout="column" class="box-shadow noselect" flex >
    <div style="background-color:white; height:36px; border-bottom: 1px solid #9E9E9E;" layout="row" layout-align="center center" layout-padding>
        <span style="color: #727272; font-weight: bold;">
            <md-icon md-svg-src="dImages/ionicIcons/briefcase.svg" style="margin-right:2px; color:#5c70bf"></md-icon> <a style="color:black;" href="#/newsList/{{type}}" >{{nameList}}</a> (조선일보)</span>
        <span flex></span>
    </div>
    <div style="" layout-padding class="md-caption">
        <div class="news-row" layout ng-repeat="post in articles" style="padding:2px;">
            <a style="color:black;" href="#/articleDetail/{{type}}/{{post.$id}}">
                <span style="margin-right:8px;">{{post.date | date:'MM/dd'}}</span> <span flex="5"></span> <span flex>{{post.title | short:true:40:' ...'}} </span>
            </a>
        </div>
    </div>
</section>
