<md-content layout="column" style="background:white; height:100%;" layout-align="center stretch">
    <md-content layout="column" style="max-width:1200px;    background-color: inherit; margin: 0 auto; width:100%;">
        <md-input-container>
            <label>Title</label>
            <input ng-model="material.title" type="text">
        </md-input-container>
        <md-content>
            <md-content class="content"  dragula-model='cnt' dragula='"test-bag"'></md-content>
            <div style="border-radius: 15px; border:2px lightgrey dashed; padding: 8px; ">
                <div class="md-body-2"> Tool Box</div>
                <div layout="row">
                    <md-button class="md-fab" ng-click="updateCnt()">
                        <md-icon md-svg-src="dImages/ionicIcons/alert.svg"
                                 aria-label="Compose">
                        </md-icon>
                    </md-button>
                    <md-button class="md-fab" ng-click="updateCnt()">
                        <md-icon md-svg-src="dImages/ionicIcons/android-add.svg"
                                 aria-label="Compose">
                        </md-icon>
                    </md-button>
                    <md-button class="md-fab" ng-click="updateCnt()">
                        <md-icon md-svg-src="dImages/ionicIcons/android-alarm-clock.svg"
                                 aria-label="Compose">
                        </md-icon>
                    </md-button>
                    <md-button class="md-fab" ng-click="updateCnt()">
                        <md-icon md-svg-src="dImages/ionicIcons/android-archive.svg"
                                 aria-label="Compose">
                        </md-icon>
                    </md-button>
                </div>
            </div>
        </md-content>
    </md-content>

    <!--Module Toolbox Bottom-->
    <md-content layout="row" style="position: fixed; bottom:0px; background-color:#ff8f60;">
        <md-button class="" ng-click="createMaterial()"> Create </md-button>
        <super-editor content="material.cnt"></super-editor>
    </md-content>


</md-content>