<md-content layout="column" style="overflow: inherit;  background-color: white;">
    <div class="profile-container" style="border-bottom: 2px solid black;">
        <profile-header></profile-header>
    </div>
    <div class='menu-box' layout style="margin-top: 8px; color:black;">
        <section flex ng-cloak layout="column">
            <md-content class="box-shadow" layout layout-align="start center" style="margin:2px; padding: 8px;">
                <div class="md-title" style="font-weight: bold;"> {{title}} </div>
                <span flex></span>
                <a style="min-width:70px; text-align:center; font-weight:700; color:black;" class="" href="#/edit-content/{{type}}/{{id}}">
                    <md-icon md-svg-src="dImages/ionicIcons/edit.svg" style="font-size:14px; margin-right:2px; color:#000000"></md-icon>
                    Edit
                </a>
                <a style="min-width:70px; text-align:center; font-weight:700; cursor: pointer; color:black;" class="" ng-click="deleteCnt()">
                    <md-icon md-svg-src="dImages/ionicIcons/close-circled.svg" style="font-size:14px; margin-right:2px; color:#000000"></md-icon>
                    Delete
                </a>
            </md-content>
            <md-content ng-show-auth layout="row" class="box-shadow" style="margin:2px; padding: 8px;">
                <div flex="10" class="md-caption" style="font-weight: bold;"> Author: {{testAuthor}} </div>
                <div flex="10" class="md-caption" style="font-weight: bold;"> views: {{testView}} </div>
            </md-content>
            <!-- <md-content layout="row" class="box-shadow" style="margin:2px; padding: 8px;">
                <div flex class="md-caption" style="font-weight: bold;"> Who Likes </div>
            </md-content> -->

            <md-content ng-cloak flex class="content box-shadow" style="margin:2px; padding:8px; background:white;"></md-content>
            <md-content ng-if="comment" class="box-shadow" style="margin:2px; padding: 8px;">
                <div> Comment(s) </div>
            </md-content>

            <!--<md-content style="margin: 8px;padding: 8px;">-->
            <!--<hori-list-prd style="margin:2px;"></hori-list-prd>-->
            <!--</md-content>-->

            <div layout="column" layout-gt-xs="row">
                <article-list icon="android-list.svg" style="margin:0px !important;" flex-xs="100" flex="50" type="{{type}}" name-list="{{type}} list" limit="12"></article-list>
            </div>
        </section>
    </div>
</md-content>



<div class="profile-container" style="border-top: 2px solid black;">
    <div class="main-container">
        <footer-stat></footer-stat>
    </div>
</div>

