<div layout="column" style="overflow: inherit; position:relative; background-color: white;" flex >
    <div class="profile-container" style="border-bottom: 2px solid black;">
        <profile-header></profile-header>
    </div>
    <div class='menu-box' layout="column" style="margin-top: 8px; height:100%; color:black;">
        <div class='menu-box' layout style="margin-top: 8px; color:black;">
            <div flex-xs="100" flex-gt-sm="60">
                <div layout="column" layout-align="start start"><div class="md-title">Publications Editor</div></div>
            </div>
        </div>
        <hr/>
        <pre> {{pub | json}}</pre>
        <pre> {{authors | json}}</pre>
        <form ng-submit="pushPub()" style="margin-bottom:10px;">
            <section layout="column" style="padding:20px; border:2px solid black; margin-bottom:8px;">
                <div flex layout>
                    <md-input-container flex="50">
                        <label>Title</label>
                        <input ng-model="pub.title">
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Year (eg. 2016)</label>
                        <input type="number" ng-model="pub.year">
                    </md-input-container>
                </div>
                <div flex layout>
                    <md-input-container flex="50">
                        <label>Section (eg. 57:441-446)</label>
                        <input ng-model="pub.section">
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Org (eg. BMC Systems Biology)</label>
                        <input ng-model="pub.org">
                    </md-input-container>
                </div>
                <div flex layout="column">
                    <div class="md-body-2">Add Author(s).</div>
                    <md-chips class="custom-chips" ng-model="authors" readonly="authorsReadonly"
                              placeholder="Enter an Author"
                              md-transform-chip="newAuthor($chip)" md-removable="authorsRemovable">
                        <md-chip-template>
                        <span>
                          <strong>[{{$index + 1}}] {{$chip}}</strong>
                        </span>
                        </md-chip-template>
                        <buttopn md-chip-remove class="md-primary vegetablechip">
                            <md-icon md-svg-src="/dImages/ionicIcons/close.svg"></md-icon>
                        </buttopn>
                    </md-chips>
                </div>
                <div flex layout="column">
                    <div class="md-body-2">Link(s). <span> <md-button ng-click="addLink()" class="md-raised"> Add </md-button></span></div>
                    <div flex layout ng-repeat="link in pub.links">
                        <md-input-container flex="50">
                            <label>Link name</label>
                            <input ng-model="link.name">
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>Address (eg. http:// ...)</label>
                            <input type="text" ng-model="link.addr">
                        </md-input-container>
                        <button ng-click="removeLink($index)" class="md-primary vegetablechip">  <md-icon md-svg-src="/dImages/ionicIcons/close.svg"></md-icon> </button>
                    </div>
                </div>
            </section>
            <section layout="row" layout-align="end end">
                <md-button class="md-raised" type="submit"> Add New Publication </md-button>
            </section>
        </form>
        <div class="profile-container" style="border-top: 2px solid black;">
            <div class="main-container">
                <footer-stat></footer-stat>
            </div>
        </div>
    </div>
</div>
<style>
    md-chip {
        position: relative;
        padding-right: 28px !important;
    }
    ._md-chip-remove-container {
        position: absolute;
        right: 4px !important;
        top: 4px;
        margin-right: 0;
        height: 24px; }
    .vegetablechip{
        position: relative;
        height: 24px;
        width: 24px;
        line-height: 30px;
        text-align: center;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        border: none;
        box-shadow: none;
        padding: 0;
        margin: 0;
        transition: background 0.15s linear;
        display: block;
    }
    .vegetablechip md-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(0.7);
        color: white;
        fill: white; }
    .vegetablechip:hover, .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container .vegetablechip:focus {
        background: rgba(255, 0, 0, 0.8); }
</style>