<div layout="column" style="width: 100%; overflow: inherit; background-color: white;" flex >
    <div class="profile-container" style="border-bottom: 2px solid black;">
        <profile-header></profile-header>
    </div>
    <div class='menu-box' layout="column" style="width:100%; margin-top: 8px; height:100%; color:black;">
        <div class="page-title"> <span class="md-title"><strong>Publications</strong></span></div>
        <!--<div>-->
            <!--<md-button class="md-raised" href="#/pub-editor/new"> New </md-button>-->
            <!--<md-button class="md-raised" href="#/pub-editor/list"> Manage </md-button>-->
        <!--</div>-->
        <md-list ng-cloak style="width:100%">
            <md-subheader class="md-no-sticky">Publications ({{pubs.length}})</md-subheader>
            <md-list-item ng-repeat="pub in pubs" class="secondary-button-padding">
                <md-content layout="column" style="width:100%; background: white;">
                    <pub-info pub="pub" pub-index="{{$index + 1}}"></pub-info>
                </md-content>
                <md-divider ></md-divider>
            </md-list-item>
        </md-list>
    </div>
    <div class="profile-container" style="height: 100%; border-top: 2px solid black;">
        <div class="main-container">
            <footer-stat></footer-stat>
        </div>
    </div>
</div>